# shellcheck disable=all
export CLIENT_ID=diHFEO3nlgycZuScwlpG3Q
export CLIENT_SECRET='op://Dev/reddit-api/credential'
export CR_PAT='op://Dev/github-api/credential'
export GH_USERNAME=Inner-daydream
export PASSWORD_MANAGER='1password'
